.LF_form_uploads{
	font-family: 'PT Sans Narrow', sans-serif;
    background-color: #373a3d;
    background-image: -webkit-linear-gradient(top, #373a3d, #313437);
    background-image: -moz-linear-gradient(top, #373a3d, #313437);
    background-image: linear-gradient(top, #373a3d, #313437);
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    margin: 10px auto 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.LF_form_uploads #drop {
    background-color: #2E3134;
    padding: 30px 50px;
    margin-bottom: 10px;
    border: 15px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url(../imgs/border-image.png) 25 repeat;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #7f858a;
}
.LF_form_uploads #drop.in{
	background-color: #464e56;
}

.LF_form_uploads #drop input[type="file"] {
    display: none;
}

.LF_form_uploads ul {
    list-style: none;
    position: relative;
    width: 100%;
    left: 0px;
    padding: 0px;
    max-height: 200px;
    overflow-y: auto;
    padding: 20px;
}
.LF_form_uploads ul li{
    background-color:#333639;
    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);
    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:10px;
    height: 35px;
    position: relative;
}

.LF_form_uploads ul li input{
    display: none;
}

.LF_form_uploads ul li p {
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    position: relative;
    left: 50px;
    margin-bottom: 0px;
}

.LF_form_uploads ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
    float: right;
    width: 15%;
}

.LF_form_uploads ul li canvas{
    top: 7px;
    left: 15px;
    position: absolute;
    width: 20px;
}

.LF_form_uploads ul li span {
    width: 15px;
    background: url(../imgs/icons.png) no-repeat;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 15px;
}

.LF_form_uploads ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.LF_form_uploads ul li.error p{
    color:red;
}

.upload_info_loading{
	display: none;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}