.blueprints .page_component{
    margin-bottom: 10px;
    min-height: 90px;
}
.blueprints .singular .page_component label h5{
    font-size: 16px;
}
.blueprints .singular .page_component .field_data{
    padding: 10px;
    min-height: 42px;
    border: 1px solid #cacaca;
}

.blueprints .singular .page_component .field_label {
    background: #484848;
    color: snow;
    padding: 2px 10px 2px 10px;
    font-size: 16px;
}
.blueprints .singular .page_component .field_label .subtext{
    padding: 0px;
    margin: 0px;
    font-style: italic;
    text-align: right;
    font-size: 14px;
    border-top: 1px solid #ffffff8f;
}
.blueprints .sub_info .panel-heading .panel-title > a:after{
    font-family:'Open Sans' !important;
    content: ' -';
    font-size: 30px;
    color: snow;
    line-height: 25px;
}
.blueprints .sub_info .panel-heading h4 > a.collapsed:after{
    content: ' +';
    font-size: 25px;
    color: snow;
}
.blueprints .sub_info .panel-heading h4 > a:before{
    content: '> ';
    font-size: 24px;
    color: snow;
}


.blueprints .singular .page_component .field_label {
    background: #484848;
    color: snow;
    padding: 2px 10px 2px 10px;
    font-size: 16px;
}
.blueprints .collections tr.hiddenItems td.hidden_content {
    display: none;
    border: 1px solid whitesmoke;
}