#fe_widgetArea, #fe_widgetCtrls{
    height: auto;
    margin: 0px;
}
.page-content{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 50px !important;
}
.sortGhosting .panel{
    border: 2px dashed #319db5 !important;
    box-shadow: 0px 0px 5px 2px #afafaf !important;
    margin-bottom: 16px !important;
}

#fe_widgetArea .panel .panel-header.panel-controls .control-btn > a{
    color:rgb(41, 41, 41) !important;
}
#fe_widgetArea .panel .panel-header:hover .control-btn > a {
    color: rgb(0, 0, 0) !important;
}

#fe_widgetArea .panel div[class*='bg-'].panel-header.panel-controls .control-btn > a{
    color:rgb(255, 255, 255) !important;
}
#fe_widgetArea .panel div[class*='bg-'].panel-header.panel-header:hover .control-btn > a {
    color: rgb(255, 255, 255) !important;
}
#fe_widgetArea .panel.maximized{
    top: 0px;
    padding-top: 0px;
}
#fe_widgetArea .fe_widget{
    max-height: 99%;
}

#fe_widgetArea .fe_widget .panel-header{
    min-height: 50px;
}

#fe_widgetArea .fe_widget .panel-reload{
    visibility: hidden !important;
}

#fe_widgetArea .fe_widget .panel-reload.visible{
    visibility: visible !important;
}

#new_widget_area{
    left: 50%;
    position: fixed;
    bottom: 25px;
    margin-left: -45px;
    mix-blend-mode: multiply;
}
#new_widget_area #widget_add{
    cursor: pointer;
}
.page-content:hover #new_widget_area{
    -webkit-animation-name: fadeInUp !important;
    animation-name: fadeInUp !important;
}

#dashboardWidgetControl.in ~#new_widget_area {
    -webkit-animation-name: fadeOutDown !important;
    animation-name: fadeOutDown !important;
}

.fe_widget .bg-transparent{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.fe_widget .bg-transparent .panel-controls i{
    color: gray !important;
}

.fe_widget .panel-header.bg-transparent{
    position: absolute;
    right: 15px;
    width: 90%;
    top: 15px;
    mix-blend-mode: inherit;
}
.fe_widget .wg_main_cnt{
    position: relative !important;
}
.fe_widget .panel-content .back{
    position: absolute !important;
    top: 0px;
    left: 0px;
}
.fe_widget .panel-content .back .panel{
    padding: 10px;
    background: none;
    border:none;
    box-shadow: none;

}
.fe_widget .panel-content .back .btn{
    position: absolute;
    bottom: 10px;
}
.fe_widget .panel-content .back .btn.btn-success{
    left:10px;
}
.fe_widget .panel-content .back .btn.btn-danger{
    right:0px;
}
.fe_widget .panel.bg-primary .back .panel{
    color:snow !important;
}

#fe_widget_desc{
    min-height: 200px;
    max-height: 80%;
    overflow-y: auto;
}
#fe_widget_desc label{
    font-size: 16px;
}
#fe_widget_desc .row{
    width: 100%;
}

.fe_widget input[type="radio"]{
    margin-right: 10px;
    -webkit-appearance: radio !important;
}


