#fe_widgetArea, #fe_widgetCtrls{
    height: auto;
    margin: 0px;
}
.page-content{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 50px !important;
}
.sortGhosting .panel{
    border: 2px dashed #319db5 !important;
    box-shadow: 0px 0px 5px 2px #afafaf !important;
    margin-bottom: 16px !important;
}

#fe_widgetArea .panel .panel-header.panel-controls .control-btn > a{
    color:rgb(41, 41, 41) !important;
}
#fe_widgetArea .panel .panel-header:hover .control-btn > a {
    color: rgb(0, 0, 0) !important;
}

#fe_widgetArea .panel div[class*='bg-'].panel-header.panel-controls .control-btn > a{
    color:rgb(255, 255, 255) !important;
}
#fe_widgetArea .panel div[class*='bg-'].panel-header.panel-header:hover .control-btn > a {
    color: rgb(255, 255, 255) !important;
}
#fe_widgetArea .panel.maximized{
    top: 0px;
    padding-top: 0px;
}
#fe_widgetArea .fe_widget{
    max-height: 99%;
}

#fe_widgetArea .fe_widget .panel-header{
    min-height: 50px;
}

#fe_widgetArea .fe_widget .panel-reload{
    visibility: hidden !important;
}

#fe_widgetArea .fe_widget .panel-reload.visible{
    visibility: visible !important;
}

#new_widget_area{
    left: 50%;
    position: fixed;
    bottom: 25px;
    margin-left: -45px;
    mix-blend-mode: multiply;
}
#new_widget_area #widget_add{
    cursor: pointer;
}
.page-content:hover #new_widget_area{
    -webkit-animation-name: fadeInUp !important;
    animation-name: fadeInUp !important;
}
#shadow_widget.fadeOutUp{
    z-index: -1;
}
#shadow_widget .btn{
    min-width: 100px;
}
#shadow_widget .panel{
    border: 2px dashed #a7a7a7;
    min-height: 480px;
}
#shadow_widget > div{
    background: #ffffff6e;
}
#shadow_widget:not(.fadeOutUp) ~#new_widget_area {
    -webkit-animation-name: fadeOutDown !important;
    animation-name: fadeOutDown !important;
}
#shadow_widget .panel-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}