body>section>div.main-content{
    height: 100%;
}

body>section>div.main-content>div.page-content {
    padding-top: 70px;
    margin-top: 0px;
}

body>section>div.main-content>div.page-content>div.footer{
    position: absolute;
    bottom: 0px;
    left: 2%;
    right: 2%;
}

div.logopanel > a.logoText{
    font-size: 25px;
    color: white;
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
    overflow: hidden;
    padding-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.sidebar > div.sidebar-inner > ul.nav-sidebar > li.tm.nav-hover{
    background-color: #319db5;
    color: #ffffff;
    opacity: 1;
}

div.sidebar > div.sidebar-inner > ul.nav-sidebar > li i.fa{
    min-width: 15px;
}

.dataTable tfoot tr th input{
    width: 100% !important;
}
.dataTable .btn-group{
    z-index: auto !important;
}
#quickview-sidebar{
    z-index: 100001;
}
.quickview #notes .note-item{
    border-bottom: 1px solid gainsboro !important;
}

.quickview .quickview_footer,.quickview .note_footer{
    position: absolute;
    z-index: 10001;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 25px;
}
.quickview .note_footer button{
    width: 30%;
}

#noty_layout__topCenter .noty_bar:first-child {
    margin-top: 40px !important;
}

.select2-container {
    z-index: inherit;
}
.select2-dropdown{
    z-index: 2000 !important;
}