.fe_widget .wg_calendar *:before, .fe_widget .wg_calendar *:after {
  box-sizing: border-box;
}

.fe_widget .wg_calendar {
  font-family: "Roboto", sans-serif !important;
  font-size: 1em;
  line-height: 1.6;
}

.wg_calendar {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.wg_calendar .wg_calendar-header {
    height: 160px;
    background-image: url('/feiron/felaraframe/widgets/image/wg_Calendar/Weather.jpg');
    background-position: center -60px;
    background-size: 100%;
  }
.wg_calendar .ui-datepicker-inline {
    margin-top: 0px;
}

.wg_calendar .ui-datepicker .ui-datepicker-header{
  background-color: white;
}
.wg_calendar .ui-datepicker .ui-datepicker-prev, .wg_calendar .ui-datepicker .ui-datepicker-next{
    cursor: pointer;
    font-size: 1.4em;
    color: #CCC;
}
.wg_calendar .ui-datepicker-title{
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif !important;
}
.wg_calendar .ui-datepicker thead{
    color: #CCC;
}
.fe_widget_wg_calendar .panel-header.bg-transparent{
      mix-blend-mode: color-dodge;
}