

.wg_weather  .widget-weather .weather .weather-highlighted {
    height: inherit !important;
    padding: 10px !important;
}

.wg_weather .weather-highlighted .inner{
    width: 50% !important;
}
.wg_weather .weather-item{
    margin-top: 0px !important;
}
.wg_weather .widget-weather .weather .weather-location strong{
    width: 60%;
}

.wg_weather .today-desc{
    position: absolute;
    top: 35px;
    background: #000000b5;
    padding: 20px;
    left: 0px;
    right: 0px;
    height: 110px;
    overflow-y: auto;
}
.wg_weather .widget-weather .weather .weather-forecast strong{
    margin-bottom: 0px !important;
}
.wg_weather .widget-weather .weather .weather-forecast li a{
    padding:0px !important;
}

.wg_weather .weather-highlighted:hover .today-desc{
    -webkit-animation-name: fadeIn !important;
    animation-name: fadeIn !important;
}
.wg_weather .weather-forecast span{
    margin-bottom: 5px !important;
}
.wg_weather .widget-weather .weather .weather-location .weather-search-form{
    width: 40% !important;
}
#wg_weather_city::-webkit-input-placeholder { /* Edge */
  color: white;
}

#wg_weather_city:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

#wg_weather_city::placeholder {
  color: white;
}
